@model List<Admin.Models.UserGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Danh sách nhóm người dùng</h3>
    </div>
    <!-- /.box-header -->
    <button type="button" class="btn btn-info  fr mr10 mb10" data-toggle="modal" data-target="#modal-create">
        Thêm nhóm
    </button>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>GroupID</th>
                    <th>GroupName</th>
                    <th>Note</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.GroupID</td>
                                <td>@item.GroupName</td>
                                <td>@item.Note</td>
                                <td>
                                    <a href="/UserGroup/Edit?groupId=@item.GroupID"><i class="fa fa-edit "></i></a>
                                    <a href="javascript:void(0)" title="Xóa sản phẩm" class="open-DeleteDialog" data-id="@item.GroupID"><i class="fa fa-trash "></i></a>
                                </td>
                            </tr>
                        }


                    }
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="modal fade" id="modal-create" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Thêm nhóm người dùng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>GroupID</label>
                        <input type="text" class="form-control" id="txtGroupID">
                    </div>
                    <div class="form-group">
                        <label>GroupName</label>
                        <input type="text" class="form-control" id="txtGroupName">
                    </div>
                    <div class="form-group">
                        <label>Note</label>
                        <input type="text" class="form-control" id="txtNote">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="InsertUserGroup();">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-delete" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Sản phẩm xóa sẽ không lấy lại được. Bạn có chắc chắn muốn xóa ???</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="prId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="DeleteProduct();">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
